.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}
.flex-wrapper > span {
    padding-bottom: 1rem;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.btns > * {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
}
.btns > button:last-child {
    margin-right: 0rem;
}
